<nav class="navbar navbar-expand-lg  sticky-top  header  w-100" style=" background-color: #0000001a;">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']"><img  height="80" src="assets/img/logo-fmd.png" alt="fmd" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['about']" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "  [routerLink]="['contac']"   routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contáctenos</a>
          </li>         
        </ul>
        <span class="d-flex">          
          <div class="mx-2 pb-1"  > 
            <img width="24" src="assets/img/eeuu-flag.png" alt="eeuu"> 
          </div>
          <div  class="mx-2  pb-1" >
            <img width="24" src="assets/img/col-flag.png" alt="español">    
          </div>
               
        </span>
        
      </div>
    </div>
  </nav>
