
<div class="container mt-5" style="overflow: hidden;">
    <div class="row" style="min-height: calc(100vh - 96px);overflow: hidden;">
        <h1 class="titulo text-center">FMD CARGO</h1>
        <p class="subtil text-center text-uppercase">Transportamos su carga a cualquier parte del mundo</p>
        <div class="col-lg-10 mx-auto">
            <p class="parrafo text-center">Nuestra organización FMD CARGO, como GSA de AMERIJET INTERNATIONAL
                INC, como objetivo principal es transportar su carga, de acuerdo a las necesidades de su cliente,
                gracias a nuestra amplia cobertura global. Contamos con diversas soluciones para el manejo de carga
                nacional e internacional brindando a los clientes confianza y satisfacción en sus movimientos con
                alta calidad. Nos orientamos en contribuir en la optimización de la cadena Logistica lo antes
                posible para las operaciones de comercio exterior.</p>
        </div>
    </div>
</div>    
<div class="border" style="--colobor:#ffebeb"></div>
<div class="container-fluid" style="background-color:#ffebeb ; position: relative;">    
    <div class="container text-center">
        <div class="py-4">
            <h2>Nuestro esquipo</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 ">
                <div class="person mx-auto">
                    <img class="" src="assets/img/person/felipe.jpg" alt="">
                </div>
                <div >
                    <h4>FELIPE MADRIGAL</h4>
                    <P>president</P>
                </div>        
            </div> 
            <div class="col-lg-3 ">
                <div class="person mx-auto ">
                    <img class="" src="assets/img/person/ma.jpg" alt="">
                </div>
                <div >
                    <h4>Maritza Martinez Rey</h4>
                    <P>General Manager</P>
                </div> 
                
            </div> 
            <div class="col-lg-3 ">
                <div class="person  mx-auto">
                    <img class="" src="assets/img/person/user1.jpg" alt="">
                </div>
                <div >
                    <h4>Cristian Campos</h4>
                    <P>Account executive</P>
                </div>             
            </div>            
        </div>
    </div>
    <div class="borderDown bg-white" style="--colobor:#ffebeb"></div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-10 text-center mx-auto">
            <h4 class="mision ">NUESTRA MISIÓN</h4>
            <p class="parrafo">FMD CARGO como GSA de AMERIJET INTERNATIONAL INC, permite a los agentes de carga
                mantener una cobertura global. Gracias a la infraestructura y diferentes soluciones logísticas en
                las que nuestro holding de servicio aéreo, marítimo y terrestre, transportamos su carga a cualquier
                parte del mundo, lo anterior gracias al equipo ágil y eficaz. Marcamos la diferencia y dejamos sello
                en cada una de las soluciones que brindamos</p>
            <h4 class="vision pt-5">NUESTRA VISIÓN</h4>
            <p class="parrafo">Marcaremos la diferencia, generando satisfacción a los importadores y exportadores
                con una amplia cobertura de destinos, logrando llevar su carga, cumpliendo los deseos de sus
                clientes.
                Lo anterior lo logramos disfrutando de nuestro trabajo, en equipo profesional y efectivo.
            </p>
        </div>
    </div>
</div>

<app-animacion></app-animacion>


