<app-paradax></app-paradax>
<div  style="position: relative ">
    <div class="container-fluid bg" style="background-image: url(assets/img/bgMoon.svg);">
        <div class="container">
            <div class="row bg py-5" >        
                <div class="col-lg-4 ">
                    <div class="card mb-3 ">
                        <div class="card-body text-center">
                            <div class="circulo center-obj mx-auto">
                                <img  src="assets/img/truck2.svg" width="90" height="90" alt="">                        
                            </div>
                            <h2 class="text-white">Transporte terrestre </h2> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card  mb-3">
                        <div class="card-body text-center">
                            <div class="circulo center-obj mx-auto">
                                <img  src="assets/img/airplane.svg" width="90" height="90" alt="">                        
                            </div>
                            <h2 class="text-white">Transporte aéreo </h2> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card  mb-3">
                        <div class="card-body text-center">
                            <div class="circulo center-obj mx-auto">
                                <img  src="assets/img/ship2.svg" width="90" height="90" alt="">                        
                            </div>
                            <h2 class="text-white">Transporte marítimo </h2> 
                        </div>
                    </div>
                </div>
            </div>  
        </div>    
    </div>
    <div class="container-fluid  d-flex align-items-center py-5" style="position: relative;height: 80vh" >
        <app-banderas></app-banderas>
        <div class="col-lg-6 mx-auto z-index">
            <div class="cardflags" >
                <div class="px-4 py-3 text-center ">
                    <img   ngSrc="assets/img/world.gif" width="200" height="200"  style="filter: invert(1) drop-shadow(2px 4px 6px #083955);" alt="">
                   <h2 class="flag-til">Conectamos  el mundo mediante soluciones de transporte y logística para nuestros clientes.</h2> 
                </div>
            </div>
        </div>
        
    </div>

    <div>
        <div class="border" style="--colobor:#571e22"></div>
        <div style="background-color: #571e22; height: 500px;">

        </div>
    </div>

    <!--bglines-->
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div> 
    
</div>
<div class="text-center bg-dark">
    
</div>



