<div class="bg-banderas">
    <img class="flags" src="assets/banderas/se.png"  alt="banderase" style="width: 75px;
    height: 75px;
    left: 1362.5px;
    top: 7.5px;
    animation-delay: -115322ms;">
    <img class="flags" src="assets/banderas/us.png"  alt="banderaus" style="width: 75px;
    height: 75px;
    left: 1362.5px;
    top: 334.5px;
    animation-delay: -179085ms;">
    <img class="flags" src="assets/banderas/br.png"  alt="banderabr" style="width: 75px;
    height: 75px;
    left: 1362.5px;
    top: 41.5px;
    animation-delay: -254136ms;">
    <img class="flags" src="assets/banderas/kr.png"  alt="banderakr"  style=" width: 75px;
    height: 75px;
    left: 1362.5px;
    top: 296.5px;
    animation-delay: -274983ms;">
    <img class="flags" src="assets/banderas/co.png"  alt="banderaco" style="width: 75px;
    height: 75px;
    left: 1362.5px;
    top: 318.5px;
    animation-delay: -230949ms;">
    <img class="flags" src="assets/banderas/au.png"  alt="banderaau" style="width: 75px;
    height: 75px;
    left: 1362.5px;
    top: 188.5px;
    animation-delay: -80847ms;">
    <img class="flags" src="assets/banderas/se.png"  alt="banderase" style="width: 90px;
    height: 90px;
    left: 1355px;
    top: 320px;
    animation-delay: -123051ms;">
    <img class="flags" src="assets/banderas/fr.png"  alt="banderafr" style="width: 90px;
    height: 90px;
    left: 1355px;
    top: 148px;
    animation-delay: -45153ms;">
    <img class="flags" src="assets/banderas/uk.png"  alt="banderauk" style="  width: 90px;
    height: 90px;
    left: 1355px;
    top: 342px;
    animation-delay: -258814ms;">
    <img class="flags" src="assets/banderas/jp.png"  alt="banderajp" style="  width: 90px;
    height: 90px;
    left: 1355px;
    top: 148px;
    animation-delay: -132508ms;">
    <img class="flags" src="assets/banderas/in.png"  alt="banderain" style="width: 90px;
    height: 90px;
    left: 1355px;
    top: 43px;
    animation-delay: -92237ms;">
    <img class="flags" src="assets/banderas/sg.png"  alt="banderasg" style="width: 90px;
    height: 90px;
    left: 1355px;
    top: 275px;
    animation-delay: -64373ms;">

    <img class="flags" src="assets/banderas/co.png"  alt="banderaau" style="width: 120px;
    height: 120px;
    left: 1340px;
    top: 0;
    animation-delay: -32847ms;">
    <img class="flags" src="assets/banderas/fr.png"  alt="banderafr" style="width: 120px;
    height: 120px;
    left: 1340px;
    top: 282px;
    animation-delay: -146441ms;">
    <img class="flags" src="assets/banderas/uk.png"  alt="banderauk" style="width: 120px;
    height: 120px;
    left: 1340px;
    top: 233px;
    animation-delay: -196169ms;">
    <img class="flags" src="assets/banderas/ie.png"  alt="banderaie" style="width: 120px;
    height: 120px;
    left: 1340px;
    top: 138px;
    animation-delay: -217119ms; " >
    <img class="flags" src="assets/banderas/jp.png"  alt="banderajp" style="width: 120px;
    height: 120px;
    left: 1340px;
    top: 22px;
    animation-delay: -231458ms;" >
    <img class="flags" src="assets/banderas/au.png"  alt="banderaau" style=" width: 120px;
    height: 120px;
    left: 1340px;
    top: 122px;
    animation-delay: -269898ms;" >
    <img class="flags" src="assets/banderas/in.png"  alt="banderain" style="width: 120px;
    height: 120px;
    left: 1340px;
    top: 0;
    animation-delay: -283017ms;" >
    <img class="flags" src="assets/banderas/sg.png"  alt="banderasg" style=" width: 120px;
    height: 120px;
    left: 1340px;
    top: 58px;
    animation-delay: -154475ms;" >
    <img class="flags" src="assets/banderas/au.png"  alt="banderaau" style="width: 120px;
    height: 120px;
    left: 1340px;
    top: 173px;
    animation-delay: -108915ms;" >
    <img class="flags" src="assets/banderas/co.png"  alt="banderaco" style="width: 120px;
    height: 120px;
    left: 1340px;
    top: 88px;
    animation-delay: -180305ms;" >
    <img class="flags" src="assets/banderas/in.png"  alt="banderain" style="width: 120px;
    height: 120px;
    left: 1340px;
    top: 325px;
    animation-delay: -91627ms;" >
    <img class="flags" src="assets/banderas/co.png"  alt="banderaau" style="width: 120px;
    height: 120px;
    left: 1340px;
    top: 51px;
    animation-delay: -63458ms;" >
    <img class="flags" src="assets/banderas/us.png"  alt="banderaus" style="width: 120px;
    height: 120px;
    left: 1340px;
    top: 43px;
    animation-delay: -7627ms;" >
    <img class="flags" src="assets/banderas/us.png"  alt="banderaau" style="width: 120px;
    height: 120px;
    left: 1340px;
    top: 307px;
    animation-delay: -42000ms;" >
    <img class="flags" src="assets/banderas/br.png"  alt="banderabr" style="width: 120px;
    height: 120px;
    left: 1340px;
    top: 211px;
    animation-delay: -294407ms;" >
    <img class="flags" src="assets/banderas/au.png"  alt="banderaau" style="width: 120px;
    height: 120px;
    left: 1340px;
    top: 15px;
    animation-delay: -202373ms;" >
    
</div>