
<div class="border" style="--colobor:#ffebeb"></div>
<div class="container-fluid" style="background-color:#ffebeb ; position: relative;">
    <div class="container" >
        <div class="row">
            <div class="father-trasition">
                <div class="text-transition text-uppercase" style="overflow:hidden;">
                    <span class="text-transition1 color" style="background-image: linear-gradient(90deg,#007cf0, #00dfd8);">Calidad</span>
                    <span class="text-transition2 color" style="background-image:linear-gradient(90deg, #FF4D4D,#F9CB28)">Honestidad </span>
                    <span class="text-transition3 color"  style="background-image:linear-gradient(90deg, #7928CA,#FF0080)">Cumplimiento</span>
                </div>
            </div>
            <div class="col-10 text-center mx-auto my-5" >
                <p class="parrafo ">Realizamos cumplimiento en la realización de procesos desde su inicio hasta la finalización de la Logística de transporte</p>
            </div>            
        </div>
    </div>    
</div>