<div class="container-fluid d-flex justify-content-center" style="overflow: hidden;">
    <div class="row d-flex align-items-center ps-3 altura"  >  
        <img class="d-none d-lg-block d-xl-block " #plane src="assets/img/paradax/plane.png" id="plane" alt="avion">       
        <div class="col-lg-6 col-md-10" style="position: relative;" >
            <div class="color1 color"></div>
            <div class="color2 color"></div>
            <div @entrada>
                <h1 class="titulo">
                    FMD CARGO
                </h1>
               <h2 class="subtitulo ">
                    Somos agentes de carga internacional:
                    importación y exportación de mercancía
                    para empresas.
               </h2>
            </div>           
        </div>
        <div class="wold" style="overflow: hidden;" > 
             <div  class="img-word">
                <ng-lottie   [options]="options" [styles]="styles" ></ng-lottie>
            </div>           
            
        </div>     
        
    </div>    
</div>
