<div class="container-fluid">
    <div class="row d-flex align-items-center ps-3 altura" style="overflow: hidden; ">  
        <img #plane src="assets/img/paradax/plane.png" id="plane" alt="avion">       
        <div class="col-lg-6 col-sm-8 " style="position: relative;" >
            <div class="color1 color"></div>
            <div class="color2 color"></div>
            <div @entrada>
                <h1 class="titulo">
                    FMD CARGO
                </h1>
               <h2 class="subtitulo ">
                    Somos agentes de carga internacional:
                    importación y exportación de mercancía
                    para empresas.
               </h2>
            </div>           
        </div>
        <div class="wold">
            <ng-lottie  height="640px"  [options]="options" [styles]="styles" ></ng-lottie>
        </div>      
        
    </div>    
</div>
