<div class="container py-5 bg-dark">
    <div class="row" style="overflow-x: hidden;">
        <div  #slide class="d-flex justify-content-start " >
            
            <div  #ref class="col-lg-4 col-md-6 col-12">
                <div  class="card mx-3 ">
                    <img src="assets/img/serv/servicio1.jpg" class="card-img-top" alt="servicio1">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card mx-3">
                    <img src="assets/img/serv/servicio2.jpg" class="card-img-top" alt="servicio2">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card mx-3">
                    <img src="assets/img/serv/servicio3.jpg" class="card-img-top" alt="servicio3">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card mx-3">
                    <img src="assets/img/serv/servicio4.jpg" class="card-img-top" alt="servicio1">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card mx-3">
                    <img src="assets/img/serv/servicio5.jpg" class="card-img-top" alt="servicio2">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card mx-3">
                    <img src="assets/img/serv/servicio6.jpg" class="card-img-top" alt="servicio3">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>    
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-md-6 col-12">
                <div  class="card mx-3 ">
                    <img src="assets/img/serv/servicio1.jpg" class="card-img-top" alt="servicio1">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card mx-3">
                    <img src="assets/img/serv/servicio2.jpg" class="card-img-top" alt="servicio2">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>    
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>