<div class="container-fluid">
    <div class="row">
        <section class="parallax" style="overflow: hidden;">    
            <img src="assets/img/paradax/nube3.png"  id="nube3" alt="nube3">   
            <img   #nube2 src="assets/img/paradax/nube2.png"  id="nube2" alt="nube2">   
            <img   #edificios src="assets/img/paradax/edificios.png"  id="edificios" alt="edificios">        
            <img  #nube1 src="assets/img/paradax/nube1.png" id="nube1" alt="nube1" >            
            <h2  #txt id="text">FMD CARGO</h2>
            <img #plane src="assets/img/paradax/plane.png" id="plane" alt="avion">
            <img   #edificios2 src="assets/img/paradax/edificios2.png"  id="edificios2" alt="edificios2">        
        </section>
    </div>    
</div>

